<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm5rJNlj4U22RchGwdiM3jmVWHaTDKuo4</string>
	<key>GCM_SENDER_ID</key>
	<string>636799809518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuanchao.todaysalary</string>
	<key>PROJECT_ID</key>
	<string>today-salary-app</string>
	<key>STORAGE_BUCKET</key>
	<string>today-salary-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636799809518:ios:03749f10fe0ceba204c0ff</string>
</dict>
</plist>